@charset "UTF-8";
/*maps*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  font-family: "Cairo", sans-serif;
  background-color: #ebebeb; }
  body a {
    color: #353535;
    text-decoration: none; }
    body a:hover {
      color: #ee571b; }

header {
  background-color: white;
  border-bottom: 1px solid black;
  height: auto; }
  header img {
    height: 60px;
    margin: 10px; }
  header a {
    margin: 10px; }

header nav a {
  padding-right: 10px; }

.navTeamsLogos {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 8px; }
  .navTeamsLogos__logo {
    height: 27px;
    cursor: pointer; }
    .navTeamsLogos__logo:hover {
      transform: scale(110%); }

#moreIzq,
#moreDer {
  color: #1a1818;
  text-decoration: none; }

.hero {
  color: #131313;
  /*margin-top: 10px;*/
  background-color: #e7cfaf;
  height: 400px;
  padding: 20px;
  background-image: url(../images/fondohero720.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .hero__h1 {
    font-size: 40px;
    font-weight: 900; }
  .hero__subtitle {
    font-size: 20px;
    font-weight: 600; }

.livePrograms__h2,
.nextProgramLite__h2 {
  display: inline; }

.livePrograms__articles article,
.nextProgramLite__content {
  box-shadow: 0 0 30px rgba(49, 47, 47, 0.2);
  transition: all 300ms ease-in-out;
  cursor: pointer; }
  .livePrograms__articles article:hover,
  .nextProgramLite__content:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.596);
    cursor: pointer;
    translate: 0 30px 0;
    z-index: 3;
    margin-bottom: 25px;
    transform: scale(105%); }

.livePrograms__articles h5 {
  display: inline; }

/* LiveBadge es un Componente reutilizable de punto rojo titilando al estilo Rec/live*/
.livePrograms__liveBadge {
  margin-left: 10px;
  opacity: 1;
  animation: aire 3s infinite; }

@keyframes aire {
  /* prende y apaga tipo rec */
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*START proximos programas css*/
.nextPrograms__h2 {
  font-weight: 700;
  display: inline; }

.nextProgramLite {
  /* creo este display inherit solo para que no haga efecto en nada y pueda usar los & en sass*/
  display: inherit; }
  .nextProgramLite__content {
    background-color: white;
    width: 200px;
    padding: 12px;
    height: 220px;
    border-radius: 10%;
    /* margin-left: 55px; */
    position: relative; }
  .nextProgramLite__clock {
    padding-right: 5px; }
  .nextProgramLite__title {
    display: inline;
    max-height: 70px;
    overflow: hidden; }
  .nextProgramLite__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
  .nextProgramLite__team {
    height: 25px;
    padding: 2px;
    background-color: white; }
  .nextProgramLite__title {
    display: block; }
  .nextProgramLite__plusButton {
    height: 20px;
    position: absolute;
    bottom: 10%;
    right: 50%; }

.nextProgramLite__fav,
.livePrograms__fav {
  text-decoration: none;
  color: black; }
  .nextProgramLite__fav:hover,
  .livePrograms__fav:hover {
    color: red; }

/*END proximos programas css*/
/*footer*/
.fa-twitter {
  padding: 8px; }
  .fa-twitter:hover {
    border: 1px solid #46a9fa;
    border-radius: 50px;
    padding: 7px; }

.fa-facebook {
  padding: 8px; }
  .fa-facebook:hover {
    border: 1px solid #294b94;
    border-radius: 50px;
    padding: 7px; }

.fa-instagram {
  padding: 8px; }
  .fa-instagram:hover {
    border: 1px solid #ff008c;
    border-radius: 50px;
    padding: 7px; }

/*sección de APP download*/
#appDownload {
  background-color: #e7cfaf;
  height: 500px;
  background-image: url("../images/fondo-app.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row; }

.appDownload__h2 {
  width: 300px;
  font-size: 40px;
  font-weight: 900;
  color: aliceblue; }

.appDownload__text p {
  font-size: 20px;
  font-weight: 600;
  color: aliceblue; }

.logosOS__iphone,
.logosOS__android {
  width: 120px;
  padding-left: 15px;
  padding-right: 25px; }

/*--| START | import de css webs internas*/
/*-----Web: Program-week*/
.hero img {
  background-color: #1a1818;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%; }

/*p {
  padding-left: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}*/
.videoTeamStory {
  margin-bottom: 70px;
  margin-top: 70px;
  display: flex;
  justify-content: center; }

/*USER
acá voy a poner todo lo necesario a la web de Creat-program.html teniendo de base el style.css*/
.teamList {
  display: inline-block;
  text-align: center;
  position: relative; }

.teamList__content .material-symbols-outlined {
  position: absolute;
  right: 0;
  background-color: aliceblue; }

.teamList__content {
  border-bottom: 1px solid #161610;
  float: left; }

.userAccesForm__submit {
  height: 35px;
  width: 300px;
  border: none;
  border-bottom: 1px solid lightslategray;
  background: none;
  margin-bottom: 30px;
  text-transform: uppercase;
  background-color: lightslategray;
  border: none;
  color: #1a1818;
  font-weight: 700;
  border-radius: 6px;
  margin-top: 40px; }
  .userAccesForm__submit:hover {
    background-color: #1a1818;
    color: azure; }

/*acá voy a poner todo lo necesario a la web de Creat-program.html teniendo de base el style.css*/
.datosField,
#country-form,
#createProgForm__team {
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightslategray;
  background: none;
  margin-bottom: 30px;
  margin-top: 10px;
  text-transform: uppercase; }

input[type="checkbox"] {
  cursor: pointer;
  margin: 5px;
  width: 16px;
  height: 16px; }

.p-dato1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border: 0px;
  border-radius: 30px; }

.p-dato1 p {
  width: 80%; }

/*
__________________________________
<<<<<<<< CSS de CONTACTO >>>>>>>>>
____________________________________
*/
#accesUser {
  background-color: violet;
  height: 100vh;
  background-image: url("../images/mic-radio-hero2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.acces__img img {
  background-color: lightslategray;
  width: 90px;
  height: 90px;
  border: 8px solid white;
  border-radius: 50%; }

.div-content__userAccesForm #username,
#password,
.userAccesForm__submit {
  color: lightslategray;
  height: 35px;
  width: 75%;
  border: none;
  border-bottom: 1px solid lightslategray;
  background: none;
  margin-top: 10px;
  text-transform: uppercase; }

.userAccesForm__submit {
  background-color: lightslategray;
  border: none;
  color: #1a1818;
  font-weight: 700;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .userAccesForm__submit:hover {
    background-color: #1a1818;
    color: azure; }

#formUserAcces {
  padding: 20px;
  border: 0px;
  background-color: azure;
  border-radius: 30px;
  animation: inform 1s;
  width: 500px; }

@keyframes inform {
  from {
    transform: translateY(220px); }
  to {
    transform: translateX(0px); } }

/*--| END | import de css webs internas*/
/*adaptación usando Media query*/
@media (max-width: 900px) {
  #appDownload {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px; }
    #appDownload h2 {
      display: block; }
  .appDownload__text {
    order: 1; }
  .appDownload_logosOS {
    order: 2; }
  .logosOS__iphone,
  .logosOS__android {
    width: 90px;
    padding-left: 15px;
    padding-right: 25px; } }

/*acá va el sticky player del footer*/
#player {
  background-color: #dadada;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.player__imgProgram {
  height: 90%;
  padding: 8px; }

.player__teamName {
  margin-top: -8px;
  display: block; }

.player__playButton,
.player__volumenButton {
  padding: 10px;
  height: 40px; }

.player__volumenButton {
  border-left: 1px solid #1a1818; }

.playerTextProgram {
  width: 300px; }
