$color-white: rgb(255, 255, 255);
$color-black: rgb(26, 24, 24);
$color-light: lightslategray;
$color-azure: azure;
/*maps*/
$redes: (
  twitter: rgb(70, 169, 250),
  facebook: #294b94,
  instagram: rgb(255, 0, 140),
);
