@media (max-width: 900px) {
  #appDownload {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 400px;
    padding-left: 50px;
    padding-right: 50px;
    h2 {
      display: block;
    }
  }
  .appDownload__text {
    order: 1;
  }
  .appDownload_logosOS {
    order: 2;
  }
  .logosOS__iphone,
  .logosOS__android {
    width: 90px;
    padding-left: 15px;
    padding-right: 25px;
  }
  #formUserAcces {
    margin-top: 50px;
  }
}
