/*acá voy a poner todo lo necesario a la web de Creat-program.html teniendo de base el style.css*/

.datosField,
#country-form,
#createProgForm__team {
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-light;
  background: none;
  margin-bottom: 30px;
  margin-top: 10px;
  text-transform: uppercase;
}

input[type="checkbox"] {
  cursor: pointer;
  margin: 5px;
  width: 16px;
  height: 16px;
}

.p-dato1 {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 20px;
  border: 0px;

  border-radius: 30px;
}
.p-dato1 p {
  width: 80%;
}
