/*-----Web: Program-week*/

.hero img {
  background-color: $color-black;

  width: 80px;
  height: 80px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
}

/*p {
  padding-left: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
}*/
.videoTeamStory {
  margin-bottom: 70px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
