/*USER
acá voy a poner todo lo necesario a la web de Creat-program.html teniendo de base el style.css*/

.teamList {
  display: flex;
  gap: 12px;
  text-align: center;
  position: relative;
  margin-bottom: 70px;
  &__team {
    height: 50px;
  }
  &__content {
    border-bottom: 1px solid rgb(22, 22, 16);
    float: left;
  }
}
.teamList .material-symbols-outlined {
  position: absolute;

  background-color: aliceblue;
}
